body{
    font-family: cursive;
    background-color: antiquewhite;
}
h1{
    font-size: xx-large;
    text-align: center;
}
#forinput{
    text-align: center;
}
#addToDo{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;

}
#inputs{
    border-radius: 10px;
    padding: 16px 32px;
    width: 200px;
    color: black;
    text-align: center;
}
#list{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.deleteRow{
    background-color: red;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;  
}

#list td:first-child {
    text-align: left;
    font-size: 20px;
    padding: 8px 16px;
    display:list-item;
    list-style:disc inside;
    margin:0;
}